Flask==3.0.0
Flask-CORS==4.0.0
Werkzeug==3.0.1

line-bot-sdk==3.7.0

SQLAlchemy==2.0.23
psycopg2-binary==2.9.9
alembic==1.13.1
Pillow==10.1.0
google-generativeai==0.3.2
protobuf==4.25.1
matplotlib==3.8.2
